<header>
  <div class="logo-container">
    <div class="logo-text-container">
      <h1>Welcome to <span>GitObserve</span>!</h1>
      <p>
        service for finding repositories with the most number of common
        contributors
      </p>
    </div>
  </div>
</header>

<main>
  <div class="form">
    <form class="fetch-form">
      <h2>Enter URL to GitHub repository</h2>
      <div class="fetch-input-container">
        <mat-form-field class="example-full-width">
          <mat-label>Repository URL</mat-label>
          <span matTextPrefix>https://github.com/ &nbsp;</span>
          <input
            #url
            (input)="onInput(url.value)"
            [value]="urlValue"
            matInput
            placeholder="encode/starlette"
          />
        </mat-form-field>
      </div>
      <button
        mat-flat-button
        color="primary"
        (click)="getMostContributedRepos(url.value)"
      >
        Search!
      </button>
    </form>

    <div class="history">
      <h3>History:</h3>
      @for(repository of history; track repository.repoName) {
      <p>
        <a [href]="repository.url" target="_blank"
          >{{ repository.owner }}/{{ repository.repoName }}</a
        >
      </p>
      }
    </div>
  </div>

  @if(result.result) {
  <div class="result">
    <h2>Result:</h2>

    <a [href]="result.url">{{ result.owner }}/{{ result.repoName }}</a>
    <ol>
      @for(repository of result.result; track repository.name) {
      <li>
        <p>
          <a [href]="repository.url" target="_blank">{{ repository.name }}</a> -
          {{ repository.contributors }} common contributors
        </p>
      </li>
      } @empty {}
    </ol>
  </div>
  } @else {}
</main>

<footer>
  <a href="http://github.com/jamaicacat" target="_blank"
    >made by Nikita Klochko</a
  >
</footer>
